.review-wrapper {
    padding-top: 2rem;
}

.review-wrapper .product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

.review-wrapper .product-details .img-container {
    width: 8rem;
    margin-right: 1rem;
}

.review-wrapper .ui.dividing.row-header {
    padding-bottom: 2em;
    border-bottom: solid 1px #ccc;
}

.review-wrapper .review-row .rating {
    font-size: 1.5em;
}

.review-wrapper .submit-container {
    display: flex;
    justify-content: flex-end;
}