.img-prev {
  margin: .6rem 0;
  border: solid 1px transparent;
}

.img-prev.active {    
  outline: 0;
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.ui.large.image.disp-image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.disp-col {
  height: 100%;
}

.product-container {
  min-height: 450px;
}

.text-container {
  font-size: 1.15rem;
}

.price {
  font-size: 1.3rem;
  color: #B12704;
}

.rating-container i {
  font-size: 1.3rem;
}

.rating-container {
  margin-top: 0.5rem;
}

.btn-container > div {
  width: 100%;
}

.mt-3 {
  margin-top: 0.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.purchase-col {
  height: fit-content;
}

.star-rating {
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.star-rating .ui.progress {
  width: 50%;
  margin: 0 .8rem;
}

.ui.progress .bar {
  background: linear-gradient(to bottom,#ffce00,#ffa700);
  height: 1.35em;
}

.ui.feed {
  font-size: 1.1rem;
}

.ui.feed > .event > .label {
  display: flex;
  width: auto;
  justify-content: flex-start;
}

.ui.feed > .event > .label img{
  width: 2.5em;
}

.name {
  margin-left: 1rem;
}

.ui.feed .event.review-container {
  display: flex;
  flex-direction: column;
}
