.HEADER .menu {
  padding: 12px;
  background-color: #232f3e !important;
}

.HEADER .menu .item {
  color: white;
}

.HEADER .menu .item.active {
  color: white !important;
  border: 1px solid white;
}

.HEADER .menu .item:hover {
  color: white !important;
  border: 1px solid white;
}