.no-margin {
    margin: 0 !important;
}

.product-col {
    border-left: solid 1px #ccc;
}

.filter {
    margin-bottom: 1.5rem;
}

.ui.items>.item>.content.product-details {
    padding-left: 1.5em;
}

.ui.items>.item>.content a {
    text-decoration: none;
}

.ui.grid.search-container {
    margin-bottom: 0.5em;
}